.sidenav-bar {
  position: absolute;
  color: white;
  background-color: #464a52d0;
  width: 25%;
  height: 100%;
}

.sidenav-bar-btn-div {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}

.sidenav-bar-btn-div > button {
  background-image: url(../../assets/icons/align-justify-solid.svg);
  background-size: 2.6rem;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  color: white;
  width: 3rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 1rem 0 0;
}

.sidenav-bar-btn-div > button:hover {
  border: 1px solid white;
  cursor: pointer;
}

.sidenav-bar-links-div {
  margin: 1rem;
}
